<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Che Guevara | Histórico</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark sticky-top">
   <div class="container">
        <a class="navbar-brand" href="#">
            <img src="{{ url_for('static', filename='img/logo.jpg') }}" alt="Logo Che Guevara" class="navbar-logo me-2"> 
            CHE GUEVARA
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto"> <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa-regular fa-house"></i> Início</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#sobre"><i class="fa-regular fa-file"></i> Sobre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#catego"><i class="fa-solid fa-skull-crossbones"></i> Batalhas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#livro"><i class="fa-solid fa-book"></i> Livros</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<header class="hero-section text-center">
    <div class="container">
        <h1>Patria o Muerte</h1>
    </div>
    <a href="{{ url_for('comunismo') }}"
    class="btn btn-dark border border-danger border-5 px-3 py-3 fw-bold shadow">
    Saiba mais sobre o comunismo.</a>
</header>

<section id="sobre">
        <h1 style="margin: 20px;">Sobre</h1>
        <p class="text-sobre"><strong>Nascimento e Despertar</strong>
Nascido em 14 de junho de 1928, em Rosário, Argentina, em uma família de classe média alta, Ernesto Guevara desenvolveu um espírito crítico desde cedo. 
Durante sua juventude, realizou viagens de motocicleta pela América Latina que foram o divisor de águas de sua vida. Ao presenciar a fome, a lepra e 
a exploração de mineradores e camponeses, ele concluiu que a desigualdade da região não era um acidente, mas uma consequência do sistema capitalista e do 
imperialismo.</p>
            <br>
        <p class="text-sobre"><strong>A Luta e o Comunismo</strong>
Em 1955, no México, conheceu Fidel Castro e aderiu à causa da Revolução Cubana. No comando de colunas guerrilheiras, 
Che foi um estrategista implacável, peça-chave na queda do ditador Fulgencio Batista em 1959. Já no poder, tornou-se o principal 
ideólogo do comunismo em Cuba. Ele defendia a estatização total da economia e a criação do "Homem Novo", um cidadão que trabalharia
por dever moral e solidariedade, e não por lucro financeiro. Sua postura era de confronto direto com os Estados Unidos,
 o que o tornou uma figura central da Guerra Fria.</p>
            <br>
        <p class="text-sobre"><strong>Morte na Bolívia</strong>
Incapaz de se adaptar à rotina burocrática do governo e decidido a "exportar a revolução", Che abandonou seus cargos em Cuba em 
1965. Após uma tentativa fracassada no Congo, seguiu para a Bolívia, onde pretendia criar um foco guerrilheiro que se espalhasse
 por toda a América do Sul. No entanto, isolado, sem apoio da população local e perseguido pelo exército boliviano (treinado pela 
 CIA), ele foi capturado e executado em 9 de outubro de 1967, na aldeia de La Higuera.</p>
    <br>
    </section>
    <hr class="text-danger border-danger opacity-100">
    <section id="catego">
        <h1 id="categorias-title">Principais batalhas</h1>
        <div class="container">
            <div class="card">
                <div class="card_titulo">
                    <h3>A Batalha de Santa Clara</h3>
                </div>
                <div class="card_texto">
                    <p>
                        A Batalha de Santa Clara foi uma série de eventos no final de dezembro de 1958 que levou à libertação da 
                        cidade cubana de Santa Clara por revolucionários sob o comando de Che Guevara.


                    </p>
                </div>
                <div class="text-center">
                    <a href="https://dicassobrecuba.com.br/santa-clara/a-batalha-de-santa-clara/" class="btn btn-dark border border-danger border-2 px-2 py-2 fw-bold shadow rounded-pill">Saiba mais</a>
                </div>
            </div>
            <div class="card">
                <div class="card_titulo">
                    <h3>Combate de El Uvero</h3>
                </div>
                <div class="card_texto">
                    <p>
                       Foi a primeira grande vitória militar da guerrilha na Sierra Maestra. Embora o grupo fosse pequeno, 
                       o ataque bem-sucedido a um posto militar fortificado elevou a
                        moral dos rebeldes e provou que eles podiam derrotar o exército oficial em campo aberto.
                    </p>
                </div>
                <div class="text-center">
                    <a href="https://pt.wikipedia.org/wiki/Combate_de_El_Uvero" class="btn btn-dark border border-danger border-2 px-2 py-2 fw-bold shadow rounded-pill">Saiba
                        mais</a>
                </div>
            </div>
            <div class="card">
                <div class="card_titulo">
                    <h3>Combate da Quebrada del Yuro</h3>
                </div>
                <div class="card_texto">
                    <p>
                        Esta foi a sua batalha final. Cercado em um desfiladeiro pelo exército boliviano, o grupo de Che foi dizimado após meses de 
                        isolamento. Guevara foi ferido e capturado nesta ocasião, sendo executado no dia seguinte.
                    </p>
                </div>
                <div class='text-center'>
                    <a href="https://o-boto.com/blog/1967-bolivia-o-resumo-de-uma-luta" class="btn btn-dark border border-danger border-2 px-2 py-2 fw-bold shadow rounded-pill">Saiba mais</a>
                </div>
            </div>
        </div>
    </section>

   <hr class="text-danger border-danger opacity-100">

    <!-- Alterar para livros -->

<section id="livro">
    <h2 id="livros-title">Livros relacionados</h2>

    <div class="container">
        {% for bdcard in livros %}
        <div class="cardl">
            <div class="card_img">
                <img src="{{ url_for('static', filename='img/' + bdcard.CapaPath) }}" alt="Capa">
            </div>
            <div class="card_titulo">
                <h3>{{ bdcard.Titulo }}</h3>
            </div>
            <div class="card_texto">
                <p>{{ bdcard.Sinopse }}</p>
            </div>
            <div class="text-center">
                <a href="{{ url_for('arquivo', idconteudo=bdcard.ID_Conteudo) }}"class="btn btn-dark border border-danger border-2 px-2 py-2 fw-bold shadow">Conheça!</a>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
    
    <footer class="main-footer">
        <div class="footer-content">
            <div class="footer-column info-column">
                <h3>CHE GUEVARA</h3>
                <p class="frase-footer">¡Hasta la victoria siempre!</p>

            </div>

            <div>
                <h4>MAPA DO SITE</h4>

                <ul class="LINK">
                    <li><a href="#">Início </a></li>
                    <li><a href="#sobre">Sobre</a></li>
                    <li><a href="#catego">Batalhas</a></li>
                    <li><a href="#livro">Livros</a></li>
                    


                </ul>
            </div>

    </footer>

</body>
</html>

